<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/usr/share/maven/repository</localRepository>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>maven-public</id>
          <url>https://nexus-service.nexus.svc.kubernetes.local/repository/maven-public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>public-snapshots</id>
          <url>https://nexus-service.nexus.svc.kubernetes.local/repository/public-snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>public-releases</id>
          <url>https://nexus-service.nexus.svc.kubernetes.local/repository/public-releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>free</id>
      <repositories>
      </repositories>
      <pluginRepositories>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>public-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>
</settings>
